body {
    margin: 0;
}

.header {
    font-size: 36pt;
    font-family: sans-serif;
    height: 60px;
}

.container {
    position: relative;
    height: 500px;
}

.sidebar {
    width: 200px;
    background: #ff6677;
    position: absolute;
    top: 0;
    height: 100%;
}

.main-content {
    background: #ffffcc;
    position: absolute;
    top: 0;
    left: 200px;
}
