body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: green;
    font-size: 24pt;
}
#important_p:hover {background-color: yellow;
					font-size: 40px;}
.less_important_p:hover {color: blue;
}
a {
    color:red;
}
a:hover {background-color: blue;
}